.profile {
    padding: 40px 0 0;
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    margin: 0 auto;
    min-height: 120px;
    grid-area: profile;
}
@media screen and (max-width: 954px) {
    .profile {
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .profile {
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content max-content;
        justify-items: center;
    }
}
@media screen and (max-width: 580px) {
    .profile {
        padding-top: 42px;
        max-width: 580px;
        width: 88.125%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, max-content);
    }
}
