.header {
    grid-area: header;
    width: 100%;
    height: max-content;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    padding-bottom: 41px;
    margin: 0 auto;
}
@media screen and (max-width: 954px) {
    .header {
        width: 90%;
    }
}
@media screen and (max-width: 580px) {
    .header {
        max-width: 580px;
        width: 100%;
        padding-bottom: 31.6px;
    }
}
/*Так как в 1 медиазапросе ширина 90%, то во 2 медиа я ставлю максимальную ширину в ширину экрана, чтобы 100% отсчитывались от нее. Даже, если опустить максимальную ширину, то мне нужно продублировать ширину в 100%, чтобы всё встало по макету. Инчае ширина будет 90%, а этого мне не нужно.*/
