.header {
    grid-area: header;
    width: 100%;
    height: max-content;
    opacity: .7;
    border-bottom: 1px solid #545454;
    padding-bottom: 41px;
    margin: 0 auto;
}
@media screen and (max-width: 954px) {
    .header {
        width: 90%;
    }
}
@media screen and (max-width: 580px) {
    .header {
        max-width: 580px;
        width: 88.125%;
    }
}
