.profile__add-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid white;
    height: 50px;
    width: 150px;
    background-color: black;
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
}
@media screen and (max-width: 768px) {
    .profile__add-button {
        margin-top: 30px;
        grid-column: 2/3;
        grid-row: 2/3;
        width: 80%;
    }
}
@media screen and (max-width: 580px) {
    .profile__add-button {
        grid-column: 1/2;
        grid-row: 3/4;
        max-width: 282px;
        width: 100%;
        margin-top: 36px;
        background-size: 16px 16px;
    }
}

