.elements {
    padding: 0;
    padding-top: 51px;
    width: 100%;
    margin: 0 auto;
    grid-area: elements;
}
@media screen and (max-width: 954px) {
  .elements {
      width: 90%;
  }
}
@media screen and (max-width: 580px) {
    .elements {
        max-width: 580px;
        width: 88.125%;
        padding-top: 36px;
    }
}
