.elements {
    padding: 0;
    padding-top: 51px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 20px 17px;
    margin: 0 auto;
    justify-items: center;
    justify-content: center;
    grid-area: elements;
}
@media screen and (max-width: 954px) {
  .elements {
      width: 90%;
  }
}
@media screen and (max-width: 850px) {
    .elements {
        grid-template-columns: 50% 50%;
    }
}
@media screen and (max-width: 580px) {
    .elements {
        max-width: 580px;
        width: 88.125%;
        grid-template-columns: 1fr;
        padding-top: 36px;
    }
}
