.profile__avatar {
    background-image: url(../../../images/avatar-pasha.jpg);
    border-radius: 50%;
    background-size: contain;
    margin: 0;
    min-width: 120px;
    min-height: 120px;
}
@media screen and (max-width: 768px) {
    .profile__avatar {
        grid-column: 1/2;
    }
}
