.profile__user-description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    grid-column: 1/3;
    grid-row: 2/3;
    padding-top: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}
@media screen and (max-width: 580px) {
    .profile__user-description {
        text-align: center;
        padding-top: 7px;
        font-size: 14px;
        line-height: 17px;
        justify-self: center;
        max-width: 180px;
    }
}
/*Может где-то ошибся в расчетах, но надеюсь все правильно расставил.*/
