.profile__avatar {
    background-image: url(../../../images/avatar-pasha.jpg);
    border-radius: 50%;
    background-size: contain;
    margin: 0;
    min-width: 140px;
    min-height: 140px;
}
@media screen and (max-width: 768px) {
    .profile__avatar {
        grid-column: 1/2;
        grid-row: 1/3;
    }
}
@media screen and (max-width: 580px) {
    .profile__avatar {
        grid-row: 1/2;
    }
}
