.element__like {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    background-color: white;
    background-image: url(../../../images/like.svg);
    height: 19px;
    width: 22px;
    margin: 0;
    margin-right: 30px;
    transition: .4s;
}
.element__like:hover {
    opacity: .5;
    cursor: pointer;
}
